<div class="row">
  <div class="col-12">
    <div class="card">
      <ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title">Reset Password</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="input-group mb-3">
            <input [(ngModel)]="newPass" type="text" placeholder="New Password" aria-label="" aria-describedby="basic-addon1">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="modal.close('Save click')">Save</button>
        </div>
      </ng-template>
      <div class="card-body">
        <ng2-smart-table [settings]="settings" [source]="source" class="" (editConfirm)="editConfirm($event)"
          (createConfirm)="createConfirm($event)"></ng2-smart-table>
      </div>
      <pre>{{closeResult}}</pre>
    </div>
  </div>
</div>
