<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- chart and stats -->
<!-- ============================================================== -->
<div class="row">
  <!-- chart component -->
  <div class="col-lg-8 col-md-6">
    <div class="card">
      <div class="card-body">
        <div class="d-flex flex-wrap m-b-30">
          <div>
            <h4 class="card-title">Yearly Sales</h4>
          </div>
          <div class="ml-auto">
            <ul class="list-inline">
              <li>
                <h6 class="text-primary">
                  <i class="fa fa-circle font-10 m-r-10 "></i>Iphone</h6>
              </li>
              <li>
                <h6 class="text-info">
                  <i class="fa fa-circle font-10 m-r-10"></i>Ipad</h6>
              </li>
              <li>
                <h6 class="text-danger">
                  <i class="fa fa-circle font-10 m-r-10 "></i>Itouch</h6>
              </li>
            </ul>
          </div>
        </div>
        <div style="height:355px;">
          <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors"
            [legend]="lineChartLegend" [chartType]="lineChartType"> </canvas>
        </div>
      </div>
    </div>
  </div>
  <!-- other chart component -->

</div>
<!-- ============================================================== -->
<!-- Report and Comments -->
<!-- ============================================================== -->
<!-- Row -->

<!-- Row -->
<div class="row">
  <!-- chart component -->
  <div class="col-lg-8 col-md-6">
    <div class="card">
      <div class="card-body">
        <div class="d-flex flex-wrap m-b-30">
          <div>
            <h4 class="card-title">
              <span class="lstick"></span>Yearly Sales</h4>
          </div>
          <div class="ml-auto">
            <ul class="list-inline">
              <li>
                <h6 class="text-primary">
                  <i class="fa fa-circle font-10 m-r-10 "></i>Site A</h6>
              </li>
              <li>
                <h6 class="text-info">
                  <i class="fa fa-circle font-10 m-r-10"></i>Site B</h6>
              </li>
            </ul>
          </div>
        </div>
        <div style="height:370px;">
          <canvas baseChart [datasets]="lineChartData1" [labels]="lineChartLabels1" [options]="lineChartOptions1"
            [colors]="lineChartColors1" [legend]="lineChartLegend1" [chartType]="lineChartType1"> </canvas>
        </div>
      </div>
    </div>
  </div>
  <!-- other chart component -->

</div>
<!-- ============================================================== -->
<!-- Activity widgets -->
<!-- You can find this in the dashboard-component -->
<!-- ============================================================== -->
